div{
    display: inline;
    
}

.hiddenTasks{
    display: none;
    margin: auto;
    width: 200px;
    
}

.nameTasks{
    background-color: rgb(137, 137, 202);
    text-align: center;
    padding: 3px;
}

li{
    margin-top: 15px;
    margin-bottom: 10px;
    width: 160px;
}


button{
    padding: 5px;
    margin: auto;
    margin-top: 10px;
    
}

#msg{
    color: rgb(31, 31, 235);
    padding-top: 15px;
}