.hiddenTasks{
    display: none;
    margin-left: 25px;
    width: 200px;
}

.nameTasks{
    display: block;
    color: white;
    width: 250px;
    background-color: rgb(137, 137, 202);
    border-radius: 3px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.628);
    text-align: center;
    padding: 3px;
    margin-left: 15px;
}

li{
    margin-top: 15px;
    margin-bottom: 10px;
}


button{
    padding: 5px;
    margin: auto;
    margin-top: 10px;   
}

#msg{
    color: rgb(31, 31, 235);
    padding-top: 15px;
}


#showingSelectedTask{
    display: inline;
    width: 150px;
    margin-top: 15px;
    
}

